<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div>Links to Important Stuff</div>
        <div class="row">
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
          <a href="/" class="col-xl-3">Neque amet dapibus</a>
        </div>
      </div>
      <div class="col-xl-6">
        <div>An Informative Text Blurb</div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A architecto,
          temporibus, dignissimos quo ea repellendus praesentium, iure tempore
          fugit aliquam animi deleniti voluptatem accusantium eius! Obcaecati
          consequatur eius temporibus animi!
        </p>
      </div>
    </div>
  </div>
</footer>
