<footer>
  <div>
    <div>
      <div>Links to Important Stuff</div>
      <div>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
        <a href="/">Neque amet dapibus</a>
      </div>
    </div>
    <div>
      <div>An Informative Text Blurb</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A architecto,
        temporibus, dignissimos quo ea repellendus praesentium, iure tempore
        fugit aliquam animi deleniti voluptatem accusantium eius! Obcaecati
        consequatur eius temporibus animi!
      </p>
    </div>
  </div>
</footer>
