<section class="we-do">
  <div class="container">
    <div class="pt-2 pb-2 row gap-3">
      <div class="col-xl-4">
        <div>Who We Are</div>
        <div>A subheading about who we are</div>
        <div>
          <img src="/assets/images/pic01.jpg" alt="Pic 1" />
        </div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod debitis
          id modi repudiandae ullam cum consectetur iure similique, ad explicabo
          voluptatum recusandae velit perferendis nulla error animi! Hic, dicta
          dolorum.
        </p>
      </div>
      <div class="col-xl-4">
        <div>Who We Are</div>
        <div>A subheading about who we are</div>
        <div>
          <img src="/assets/images/pic01.jpg" alt="Pic 1" />
        </div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod debitis
          id modi repudiandae ullam cum consectetur iure similique, ad explicabo
          voluptatum recusandae velit perferendis nulla error animi! Hic, dicta
          dolorum.
        </p>
      </div>
      <div class="col-xl-4">
        <div>Who We Are</div>
        <div>A subheading about who we are</div>
        <div>
          <img src="/assets/images/pic01.jpg" alt="Pic 1" />
        </div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod debitis
          id modi repudiandae ullam cum consectetur iure similique, ad explicabo
          voluptatum recusandae velit perferendis nulla error animi! Hic, dicta
          dolorum.
        </p>
      </div>
    </div>
  </div>
</section>
