<header class="header">
  <div class="container">
    <div class="pt-1 pb-1 row justify-space-between">
      <div class="text-white">Halcyonic</div>
      <nav>
        <ul class="row">
          <li class="text-gray-dark-3 mr-1">Homepage</li>
          <li class="text-gray-dark-3 mr-1">Three Column</li>
          <li class="text-gray-dark-3 mr-1">Two Column #1</li>
          <li class="text-gray-dark-3 mr-1">Two Column #2</li>
          <li class="text-gray-dark-3">Homepage</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
